<div class="jumbotron" id="jumbotron">
  <div class="banner">
    <h1><strong>Booted:</strong></h1>
    <h2>A wiki for coding bootcamp students and grads</h2>
    <p><strong>Supplement skills missing from your bootcamp education, brush up on interview techniques and share advice.</strong> </p>
    <% if user_signed_in? == false %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-lg'  %>
    <% else if current_user.role == 'standard'%>
      <%= link_to "Go Premium", new_charge_path, :class => 'btn btn-primary btn-lg' %>
    <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 features" >
      <h3 class="feature-heading">Create and contribute<br>to public wikis.</h3>
      <%= link_to "Free Plan", new_user_registration_path, :class => 'btn btn-lg' %>
    </div>
    <div class="col-sm-6 features" >
      <h3 class="feature-heading">Create and collaborate with<br>peers in private wikis! </h3>
      <%= link_to "Go Premium", new_charge_path, :class => 'btn btn-lg' %>
    </div>
  </div>
</div>

