<div class="banner">
  <h1>Blocipedia: Social, Markdown Wikis</h1>
  <h2>Create and share Markdown Wikis</h2>
  <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-lg'  %>
</div>

<div class="row">
  <div class="col-sm-6 features" >
    <h3>Create as many public <br> wikis as you want!</h3>
    <button class="btn btn-lg feature-btn">Free Plan</button>
  </div>
  <div class="col-sm-6 features" >
    <h3>Create your own <br>private wikis! </h3>
    <button class="btn btn-lg">Premium Plan</button>
  </div>
</div>
