<div class="container">
  <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>

  <h2>Public Wikis</h2>
  <div class="newspaper">
    <% @wikis.each do |wiki| %>
        <% if wiki.private == false %>
            <p><%= link_to wiki.title, wiki %></p>
        <% else %>
            <p><%= link_to wiki.title, wiki %> -- private</p>
        <% end %>
    <% end %>
  </div>
</div>
