
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.btn{
  background-color: lightblue;
  color: darkslategray;
  margin-top: 15px;
}

.btn:hover {
  background-color: navy;
  color: lightblue;
}

.user-info {
  padding: 15px;
}

.field {
  margin-top: 15px;
}

.user-links {
  margin-top: 20px;
  color: darkslategray;
}

.wiki-preview{
  border: .5px solid lightgrey;
  padding-left: 20px;
  border-radius: 2%;
  height: 50vh;
  overflow: scroll;
}
